<div class="post col-xs-1 col-md-1">
  <%= image_tag(post.user.profile_image_url, class: "profile-image") %>
</div>
<div class="post col-md-11">
  <%= image_tag(post.url, class: "post-image") %>
</div>
