<div class="post col-xs-12 col-md-1">
  <div class="col-xs-2">
    <%= image_tag(post.user.profile_image_url, class: "profile-image") %>
  </div>
  <div class="col-xs-10">
    <h6><%= post.user.username %></h6>
  </div>
</div>
<div class="post col-xs-12 col-md-8">
  <div class="row">
    <%= image_tag(post.url, class: "post-image") %>
  </div>
  <div class="row post-details">
    <em class="fa fa-heart"> Likes</em>
    <em class="fa fa-clock-o pull-right">&nbsp;<%= time_ago_in_words(post.created_at) %></em>
  </div>
</div>
<div class="post col-md-3">
</div>
