// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.post {
  margin-bottom: 20px;
}

.post-image {
  height: 100%;
  width: 100%;
  padding: 0 50px 0 50px;
}

.profile-image {
  height: 40px;
  width: 40px;
  margin: 0 auto 10px;
  display: block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
